        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
            font-family: sans-serif;
        }
        .Home{
            width:100vw;
            height:100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("Background.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            flex-direction: column;
        }
        .Home h1{
            font-size: 5vw;
            color: blue;
            text-shadow: 5px 15px 15px black;
        }
        .buttons{
            width:50%;
            height:20%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        a{
            padding:5px 20px;
            text-decoration: none;
            font-size: 2vw;
            border:2px solid blue;
            transition: transform 0.5s;
        }
        a:hover{
            transform: scale(1.1);
        }

    