*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.body{
    width:100vw;
    height:100vh;
}
header{
    width:100vw;
    height:18vh;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background: white;
}
.logo{
    width:8%;
    height:100%;
    /* border:2px solid black; */   
}
.menu{
    width:70%;
    height:100%;
    /* border:2px solid black; */
}
.menu ul{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.menu ul a{
    text-decoration: none;
    color:black;
    font-size: 1vw;
    font-weight: bold;
}
button{
    background:blue;
    color:white;
    padding:5px 10px;
}
.head{
    width:100vw;
    height:100vh;
    background:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(clg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.butt{
    width:20vw;
    height:10vh;
}
.head p{
    font-size: 1.5rem;
    color:#ff7300;
}
.Heads{
    width:50%;
    height:40%;   
    margin-top:7%;
    margin-left:10%
}
.Heads h1{
    color:white;
    margin-top:2%;
}
.butt{
    width:70%;
    height:30%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.butt button{
    padding:15px 20px;
    font-size: 1.2rem;
    border-radius: 70px;
    background: #104d7e;
    border: none;
}
.cards{
    width:80vw;
    height:70vh;
    margin: auto;
    margin-top:-20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width:33%;
    height:70%;
    margin-top: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.card p{
    text-align:center;
    color:white;
    line-height: 1.5;
    font-weight: bold;
    padding:20px 20px;
}
.c1{
 background: #fd4d40;
}
.c2{
    background: #f1c22e;
}
.c3{
    background: #16c380;
}
i{
    color:white;
    font-size: 3vw;
}
span{
    width:6vw;
    height:12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top:-10%;
}
.card:hover{
    /* transform: scale(1.1); */
    margin-top: 4%;
}
.card h2{
    color:white;
    padding:20px;
}
.card button{
    padding:15px 40px;
    color:white;
    border-radius: 50px;
    border:none;
}
button:hover{
    cursor: pointer;
}
/* ........................................... */
.info{
    width:80vw;
    height:60vh;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info_image{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40%;
    height:100%;
}
.info_image img{
    width:100%;
}
.school{
    width:57%;
    height:100%;
}
.school h1{
    padding:10px 0px;
    color: #fd4d40; 
    font-size: 2.5vw;
}
.school p{
    color: #999999;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    background-color: #fff;
}
.school button{
    padding:15px 40px;
    color:white;
    border-radius: 50px;
    border:none;
    background: #104d7e;
}
.info_button{
    margin-top: 5%;
}
/* ****************************************** */
.offer_head{
    width:80vw;
    height:15vh;
    font-size: 3vw;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 10px 10px 10px black;
    color: #16c380;
}
.offer_cards{
    width:100vw;
    height:60vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.offer_card{
    width:30%;
    height:50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.offer_card:hover{
    transform: scale(1.1);
}
.oc1{
    background:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(lkg.jpg);
}
.oc2{
    background:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(9th.jpg);
}
.oc3{
    background:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(12th.webp);
}
.offer_card h1{
    color:#fd4d40;
    font-size: 3vw;
    padding:5px;
}
.offer_card p{
    color:white;
    font-size: 1.8vw;
    padding:10px;
}
.offer_card button{
    font-size: 1.5vw;
    padding:10px 20px;
    border-radius: 50px;
    border:none;
}
/* +++++++++++++++++++++++++++++++ */
.teacher{
    width:90vw;
    height:90vh;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(teacher.jpg);
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height: 1.5;
}
@media(max-width:700px){
    .cards{
        display: block;
        margin-top:0;
        height:100vh;
    }
    .card{
        width:90%;
    }
    .info{
        display:block;
    }
}
.teacher h1{
    color:white;
    font-size: 2.5vw;
}
.teacher h2{
    color:#f1c22e;
    font-size: 2.5vw;
}
.teacher p{
    color:red;
    font-size: 2.5vw;
}

